/src/requiredCheckstyleRules.xml
/src/edu/kit/informatik/Terminal.java
/.idea/
/src (5).zip
/src.zip
/src (2).zip
/src (3).zip
/src (4).zip
/src (6).zip
/src (10).zip
/src (8).zip
/src (7).zip
/src (9).zip
